@import '../../../node_modules/font-awesome/css/font-awesome.css';

@import '~@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
$primary-color: #3582C4;

@import '../../../node_modules/spectre.css/src/variables';

@import '../../../node_modules/spectre.css/src/mixins';

@import '../../../node_modules/spectre.css/src/normalize';
@import '../../../node_modules/spectre.css/src/base';
@import '../../../node_modules/spectre.css/src/typography';

@import '../../../node_modules/spectre.css/src/tables';
@import '../../../node_modules/spectre.css/src/buttons';
@import '../../../node_modules/spectre.css/src/forms';
@import '../../../node_modules/spectre.css/src/labels';
@import '../../../node_modules/spectre.css/src/codes';
@import '../../../node_modules/spectre.css/src/media';

// Layout
@import '../../../node_modules/spectre.css/src/layout';
@import '../../../node_modules/spectre.css/src/hero';
@import '../../../node_modules/spectre.css/src/navbar';

// Components
@import '../../../node_modules/spectre.css/src/accordions';
@import '../../../node_modules/spectre.css/src/avatars';
@import '../../../node_modules/spectre.css/src/badges';
@import '../../../node_modules/spectre.css/src/breadcrumbs';
@import '../../../node_modules/spectre.css/src/bars';
@import '../../../node_modules/spectre.css/src/cards';
@import '../../../node_modules/spectre.css/src/chips';
@import '../../../node_modules/spectre.css/src/dropdowns';
@import '../../../node_modules/spectre.css/src/empty';
@import '../../../node_modules/spectre.css/src/menus';
@import '../../../node_modules/spectre.css/src/modals';
@import '../../../node_modules/spectre.css/src/navs';
@import '../../../node_modules/spectre.css/src/pagination';
@import '../../../node_modules/spectre.css/src/panels';
@import '../../../node_modules/spectre.css/src/popovers';
@import '../../../node_modules/spectre.css/src/steps';
@import '../../../node_modules/spectre.css/src/tabs';
@import '../../../node_modules/spectre.css/src/tiles';
@import '../../../node_modules/spectre.css/src/toasts';
@import '../../../node_modules/spectre.css/src/tooltips';
@import '../../../node_modules/spectre.css/src/progress';

// Utility classes
@import '../../../node_modules/spectre.css/src/animations';
@import '../../../node_modules/spectre.css/src/utilities';
@import '../../../node_modules/spectre.css/src/calendars';
@import '../../../node_modules/spectre.css/src/icons';

@include margin-variant(3, $unit-3);

@include margin-variant(4, $unit-4);

@include margin-variant(5, $unit-5);

@include padding-variant(3, $unit-3);

@include padding-variant(4, $unit-4);

@include padding-variant(5, $unit-5);

@include padding-variant(6, $unit-6);

@mixin flex-width-variant($id: 10) {
  .flex-width-#{$id} {
    flex: 0 0 $id * 1%;
  }
}

.flex-full-width {
  width: unset;
  flex: 1;
}

@include flex-width-variant(10);
@include flex-width-variant(15);
@include flex-width-variant(20);
@include flex-width-variant(25);
@include flex-width-variant(30);
@include flex-width-variant(40);
@include flex-width-variant(50);

.form-group .form-label {
  font-weight: 600;
}

.form-group.has-error {
  label {
    color: $error-color;
  }
}

.flex-break {
  flex-basis: 100%;
}

.flex-vertical {
  flex-direction: column;
}

.panel-collabsible {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  flex: 0 0 auto;
  padding: $layout-spacing-lg;
  cursor: pointer;
  transition: all 0.25s ease-out;
  border-bottom: 0.05rem solid #dadee4;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 $layout-spacing-lg;
  max-height: 0px;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  height: auto;
  max-height: unset;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  padding: 0.5rem 1rem;
}

body {
  background-color: #f1f1f1;
}

.dialog-backdrop {
    background-color: rgba($bg-color-dark, 0.5);

    & > * {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      & > .popover {
        margin: auto auto;
      }
    }
}


.post-avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.post-author .author,
.post-author .publish-date {
  display: block;
}

.post-author .publish-date {
  font-size: 0.7em;
  font-style: italic;
}


.post-title {
  font-weight: 600;
  line-height: 32px;
  font-size: 26px;
  margin-top: 6px;
  margin-bottom: 6px;
}

progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
}

.nav.nav-horizontal {
  flex-direction: row;
}

.nav-item a:active, .nav-item a:focus {
 box-shadow: none;
}